            <li>
                <figure class="card">
                    <figcaption>
                        <h3>{{ include.title }}</h3>
                        {% if include.note -%}
                        <aside>{{ include.note }}</aside>
                        {%- endif %}
                    </figcaption>

                    {%- if include.url %}
                    
                    <a href="{{ include.url }}" {%- if include.openNewTab | default: true %} target="_blank" {%- endif %} class="big button low-emphasis">
                        {%- if include.fontAwesomeIcon -%}
                        <i class="{{ include.fontAwesomeIcon }}"></i>
                        {%- elsif include.materialIcon -%}
                        <i class="material-icons">{{ include.materialIcon }}</i>
                        {%- endif %} <span>{{ include.display }}</span></a>
                    {%- endif %}
                </figure>
            </li>
