
aside {
    opacity: 0.6;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 1.5em;
    margin-block-end: 0.5em;

    .card & {
        margin-block-start: 0;
    }
}

h1,
h2 {
    text-align: center;
}



p.tip {
    padding: 1em;
    border-color: var(--theme-accent-color);

    &::before {
        content: "try";
        font-family: "Material Icons";
        line-height: 0;
        padding-right: 2ex;
        font-size: 15pt;
        vertical-align: middle;
    }

    &:not(.card) {
        margin: var(--card-margin);
        border: var(--card-border-width) solid transparent;
    }
}
