
aside {
    opacity: 0.6;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 1.5em;
    margin-block-end: 0.5em;

    .card & {
        margin-block-start: 0;
    }
}

h1,
h2 {
    text-align: center;
}
