
.page {
    margin-inline: auto;
    max-width: var(--desktop-large-min-width);

    p:not(:first-of-type) {
        margin-block-start: 1em;
    }

    .hero {
        background-color: var(--theme-accent-color);
        color: var(--theme-text-on-accent-color-color);
    }
}
