{%- if page.app-bar.trailing-control.target -%}
    {%- capture app-bar-trailing-control-url -%}
        {%- case page.app-bar.trailing-control.target -%}
            {%- when 'github' -%}
                https://GitHub.com/{{ site.social.github }}
        {%- endcase -%}
    {%- endcapture -%}

    {%- capture app-bar-trailing-control-icon -%}
        {%- case page.app-bar.trailing-control.target -%}
            {%- when 'github' -%}
                <i class="fab fa-github fa-2x"></i>
        {%- endcase -%}
    {%- endcapture -%}
{%- endif -%}
<!DOCTYPE html>
<html class="brightness-dark">
<head>
{% include header-meta.html %}

{% include header-stylesheets.html %}

{% comment %}{% include header-scripts.html %}{% endcomment %}



<!-- See also the git repository at https://GitHub.com/BenLeggiero/BenLeggiero.me -->
</head>

<body>
<header class="app-bar gradient-background">
    {% unless page.nav-button-kind == 'back' -%}
    <a href="#" class="flat button show-sidebar-button" onclick="return false;"><i class="material-icons">menu</i></a>
    {%- endunless -%}
    <a href="/" class="flat button   back-to-root-link">{% if page.nav-button-kind == 'back' %}<i class="material-icons    back-to-root-icon">arrow_back</i>{% endif %}<h1 class="title"><span class="title-text">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</span></h1></a>

    {%- if page.app-bar.trailing-control.kind == 'link' %}
    <a href="{{ app-bar-trailing-control-url }}" class="button back-to-root-link">{{ app-bar-trailing-control-icon }}</a>
    {%- elsif page.app-bar.trailing-control.kind == 'menu' %}
    Menus not yet supported
    {%- else %}
    <span class="layout-placeholder"></span>
    {%- endif %}
</header>

<main id="main" role="main" class="container">
    {{ content }}
</main>



<footer class="centered  widest-desktop-small">
    <section class="show-print text-centered">
        {{ site.url }}{{ page.url }}
    </section>

    <aside class="text-center">
        {% if page.date.modified %}
        Last tweaked <time datetime="{{ page.date.modified }}">{{ page.date.modified }}</time>
        {% elsif page.date.published %}
        Created <time datetime="{{ page.date.published }}">{{ page.date.published }}</time>
        {% endif %}
    </aside>
</footer>

<nav class="sidebar">
    oh hi
</nav>

{% include analytics.html %}
</body>
</html>
